<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>View page</p>

    <img src="<%= movie.Poster %>" alt="movieposter">
    <p>movie:<%= movie.Title %></p>
    <p>Year:<%= movie.Year %></p>
    <p>Runtime:<%= movie.Runtime %></p>
    <p>Genre:<%= movie.Genre %></p>
    <p>Director:<%= movie.Director %></p>
    <p>Crew:<%= movie.Actors %></p>
    <p>Plot:<%= movie.Plot %></p>
    <p>Language:<%= movie.Language %></p>
    <p>IMDb Rating:<%= movie.imdbRating %></p>


    <div id="youtube-feed"></div>
</body>
</html>